@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-white: hsl(0, 0%, 100%);
    --color-light-gray: hsl(212, 45%, 89%);
    --color-grayish-blue: hsl(220, 15%, 55%);
    --color-dark-blue: hsl(218, 44%, 22%);
}

body {

    background-color: var(--color-light-gray);
    font-family: 'Outfit', sans-serif;
    font-weight: 400;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    min-height: 100vh;
}

.container {
    background-color: var(--color-white);

    width: 90%;
    max-width: 400px;
    margin-bottom: 3em;
    padding: 1em;
    border-radius: 1.5em;

    box-shadow: 10px 10px 29px 1px rgba(0,0,0,0.26);
    -webkit-box-shadow: 10px 10px 29px 1px rgba(0,0,0,0.26);
    -moz-box-shadow: 10px 10px 29px 1px rgba(0,0,0,0.26);
}

.container__image {
    width: 100%;
    border-radius: 1em;
}

.container__text {
    padding: 1em;
}

.text-title {
    color: var(--color-dark-blue);
    font-weight: 700;
    padding-bottom: 1em;
}

.text-paragraph {
    color: var(--color-grayish-blue);
    font-size: 15px;
}

.attribution {
    font-size: 15px;
    margin-bottom: 1em;  
}

.attribution a {
    color: hsl(228, 45%, 44%);
}
